* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #252525;
}

.inicio {
  display: flex;
  align-items: center;
  border: blue solid;
}

h1 {
  display: flex;
  color: #ffffff;
}

.pata {
  width: 5vw;
  padding: 10px;
}

.redes {
  width: 15vw;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}

.PrimeiraSessao {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-size: 100% 100%;
  background-image: url("Grupo\ 486.png");
  background-repeat: no-repeat;
}

.PrimeiraSessao h2 {
  font-size: 50px;
}

.PrimeiraSessao div {
  padding: 70px;
  text-align: center;
  color: #ffffff;
}

.pata2 {
  padding-top: 40px;
}

.SegundaSessao {
  height: 100vh;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-image: url("Interseção\ 16.png");
  background-repeat: no-repeat;
}

.SegundaSessao div {
  width: 50vw;
  border: blue solid;
}

.QuartaSessao {
  padding: 40px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  background-color: #ffffff;
}

.QuartaSessao p {
  display: flex;
  font-size: 30px;
  color: #fd6a9a;
}

footer {
  padding: 50px;
  display: flex;
  text-align: start;
  justify-content: space-evenly;
  color: #ffffff;
  background-color: #eb4a7b;
  border: blue solid;
}
